:root {
    --headerFont: "Bungee Tint", sans-serif;
    --defaultFontWeight: 400;
    --defaultFontStyle: normal;
    --mainBodyFont: "Kanit", sans-serif;
    --defaultBackgroundColor: rgb(242, 227, 169);
}

body {
    padding: 16px;
    background-color: var(--defaultBackgroundColor);
}
h1 {
    font-family: var(--headerFont);
    font-weight: var(--defaultFontWeight);
    font-style: var(--defaultFontStyle);
}
.mainBody {
    font-family: var(--mainBodyFont);
    font-weight: var(--defaultFontWeight);
    font-style: var(--defaultFontStyle);
    text-align: center;
}
/*.pokeList {
    display: inline-block;
    text-align: left;
}
*/
.button-class {
    display: block;
    width: 200px;
    padding: 10px 20px;
    color: #fff;
    background-color: #da7e69;
    border-radius: 5px;
    border: 2px solid #ff0202;
    text-transform: uppercase;
    transition: background-color 0.3s, color 0.3s, border-color 0.3s;
    text-align: center;
    margin: 0 auto;
}
.button-class:hover,
.button-class:focus {
    background-color: #7577f4;
    border-color: #000000;
    color: #e0e0e0;
    outline: none;
}
ul {
    padding: 0;
    list-style-type: none;
  }
li {
    margin-bottom: 10px;
  }
#loading-message {
    position: fixed; /* Makes the element fixed relative to the viewport */
    top: 50%; /* Center vertically */
    left: 50%; /* Center horizontally */
    transform: translate(-50%, -50%); /* Center the element */
    background-color: rgba(0, 0, 0, 0.7); /* Background color with transparency */
    color: white; /* Text color */
    padding: 20px; /* Padding around the text */
    border-radius: 8px; /* Rounded corners */
    font-size: 16px; /* Font size */
    z-index: 1000; /* Ensure it appears on top of other content */
    display: none;  /*Initially hidden */
}
.list-group {
    display: inline-block;
}
.list-group-item {
    background-color: var(--defaultBackgroundColor);
    border-width: thin;
    width: 100%;
}
.modal-title {
    font-family: var(--headerFont);
    font-size: xx-large;
    text-transform: uppercase;
}

/* 
#modal-container {
    display: none;
}

#modal-container.is-visible {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    background: rgba(0, 0, 0, 0.5);
    z-index: 999;
    overflow: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.modal {
    display: flex;
    flex-direction: column;
    align-items: center; /* Center content horizontally */
 /*   text-align: center;  /* Center text inside block-level elements */
 /*   background: var(--defaultBackgroundColor); /* Modal background color */
 /*   padding: 20px; /* Padding to ensure space for the close button */
 /*   box-sizing: border-box;
 /*   border-radius: 8px;
 /*   position: relative; /* For positioning the close button */
 /*   max-width: 90%; /* To ensure it doesn't overflow on smaller screens */
 /*   max-height: 90%; /* To ensure it fits within the viewport */
 /*   overflow: auto; /* To handle overflowing content */
/*}

.modal-close {
    position: absolute;
    top: 10px; /* Distance from the top of the modal */
  /*    right: 10px; /* Distance from the right of the modal */
  /*    display: flex;
     align-items: center;
    justify-content: center;
    cursor: pointer;
}

.modal h1 {
    margin: 0; /* Remove default margins */
  /*    padding-top: 20px; /* Add top padding to ensure it's not covered by the close button */
 /* }

.modal p {
    margin-bottom: 0;
} */

/* .modal img {
    width: 100%;
    height: auto;
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}
    */