:root {
    --headerFont: "Bungee Tint", sans-serif;
    --defaultFontWeight: 400;
    --defaultFontStyle: normal;
    --mainBodyFont: "Kanit", sans-serif;
}

body {
    padding: 16px;
}
h1 {
    font-family: var(--headerFont);
    font-weight: var(--defaultFontWeight);
    font-style: var(--defaultFontStyle);
}
.mainBody {
    font-family: var(--mainBodyFont);
    font-weight: var(--defaultFontWeight);
    font-style: var(--defaultFontStyle);
    text-align: center;
}
.pokeList {
    display: inline-block;
    text-align: left;
}
.button-class {
    display: block;
    width: 200px;
    padding: 10px 20px;
    color: #fff;
    background-color: #da7e69;
    border-radius: 5px;
    border: 2px solid #ff0202;
    text-transform: uppercase;
    transition: background-color 0.3s, color 0.3s, border-color 0.3s;
    text-align: center;
    margin: 0 auto;
}
.button-class:hover,
.button-class:focus {
    background-color: #7577f4;
    border-color: #000000;
    color: #e0e0e0;
    outline: none;
}
ul {
    padding: 0;
    list-style-type: none;
  }
li {
    margin-bottom: 10px;
  }

#loading-message {
    position: fixed; /* Makes the element fixed relative to the viewport */
    top: 50%; /* Center vertically */
    left: 50%; /* Center horizontally */
    transform: translate(-50%, -50%); /* Center the element */
    background-color: rgba(0, 0, 0, 0.7); /* Background color with transparency */
    color: white; /* Text color */
    padding: 20px; /* Padding around the text */
    border-radius: 8px; /* Rounded corners */
    font-size: 16px; /* Font size */
    z-index: 1000; /* Ensure it appears on top of other content */
    display: none;  /*Initially hidden */
}
